<p id="notice"><%= notice %></p>

<% @history.each do |event| %>
  <p>
  <strong><%= @event.class %></strong>
  <%= @event.data.inspect %>
  <%= @event.metadata.inspect %>
  </p>
<% end %>
<%= link_to 'Back', orders_path %>
